{% extends 'base.html' %}

{% block title %}Acerca de - Relecloud{% endblock %}

{% block content %}
    <div class="text-center mt-5">
        <h1 class="display-4">Acerca de Relecloud</h1>
        <p class="lead">Relecloud es una empresa de viajes espaciales que utiliza Django y Bootstrap para ofrecer una experiencia visual atractiva y fácil de gestionar.</p>
        <hr class="my-4">
        <p>Con nuestro equipo especializado, exploramos los confines del universo y brindamos a nuestros clientes una experiencia de viaje inolvidable.</p>
    </div>
{% endblock %}
