{% extends 'base.html' %}

{% block title %}Cruceros - Relecloud{% endblock %}

{% block content %}
<div class="jumbotron text-center mb-4">
    <h1 class="display-4 mb-2">¡Elige uno de nuestros cruceros!</h1>
    <p class="lead">Descubre lugares increíbles alrededor del universo</p>
</div>

<div class="container">
    <div class="row">
        {% for cruise in cruises %}
        <div class="col-md-4 mb-4">
            <a href="{% url 'cruise_detail' cruise.id %}" class="text-decoration-none">
                <ul class="list-group shadow-sm h-100">
                    <li class="list-group-item">
                        <h3>{{ cruise.code }}</h3>
                        <p>{{ cruise.destination }} - {{ cruise.start_date }}</p>
                    </li>
                </ul>
            </a>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
