{% extends 'base.html' %}

{% block title %}Inicio - Mi Sitio Web{% endblock %}

{% block content %}
    <div class="jumbotron">
        <h1 class="display-4">¡Bienvenido a Mi Sitio Web con Bootstrap!</h1>
        <p class="lead">Este es el contenido de la página de inicio, utilizando Bootstrap para darle un estilo moderno.</p>
        <hr class="my-4">
        <p>Puedes personalizar fácilmente este sitio utilizando el poder de Bootstrap y Django.</p>
        <a class="btn btn-primary btn-lg" href="#" role="button">Aprende más</a>
    </div>
{% endblock %}
